* {
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
}
html,
body,
#map {
    height: 100vh;
    width: 100%;
    z-index: 0;
    position: absolute;
    margin: 0;
}
.wrapper {
    display: inline-block;
    min-width: 280px;
    width: 20%;
    background-color: rgba(203, 230, 163, 0.65);
    border: solid 2px #698243;
    z-index: 1;
    position: absolute;
    overflow-y: auto;
    margin-top: 40px;
}
.menu {
    width: 100%;
    height: 100%;
    position: relative;
}
.locationsList {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
li {
    list-style-type: none;
}
.listElement :hover {
    background-color: #94DC19;
}
.listElement {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    cursor: pointer;
    /*font-size: 16px;*/
}
h2 {
    margin: 0;
    font-size: 16.5px;
}
.buttonList {
    margin-bottom: 20px;
    width: 100%;
}
#app {
    width: 100%;
    height: 100%;
    background-color: #E0E0E0;
    display: flex;
    flex-wrap: wrap;
}
p {
    margin: 2.5px 0 0;
    font-size: 14px;
}
hr {
    border: none;
    height: 1px;
    width: 100%;
    color: rgb(0, 94, 209);
    background-color: rgb(0, 94, 209);
    /*border: 1px solid rgba(56, 108, 196, .7);*/

    margin-top: 0;
    margin-bottom: 0;
}
.nav {
    width: 100%;
    z-index: 1;
    height: 40px;
    background-color: #83D353;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.navTittle {
    font-family: 'Niconne', cursive;
    font-size: 2.5em;
    position: absolute;
    margin: 0;
    right: 10px;
    top: -5px;
}
.showList {
    display: inline-block;
    padding-top: 10px;
    text-align: center;
    width: 275px;
    height: 100%;
    background-color: #83D353;
    cursor: pointer;
    margin-top: 0;
    z-index: 1;
}
#filter {
    width: 20%;
    height: 100%;
    /*border: solid 2px rgb(91, 165, 255);*/

    position: relative;
    margin-left: 0;
    min-width: 280px;
}
.filterInput {
    width: 100%;
    height: 100%;
    z-index: 1;
    border: none;
    text-align: center;
}
.search {
    display: block;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 8px);
    left: calc(95% - 15px);
}
.filterButton {
    width: 20%;
    height: 100%;
    background-color: rgb(0, 94, 209);
    border: none;
}
.dropImage {
    width: 40px;
    display: block;
    margin: 0 auto;
    z-index: 1;
}
.dropImageParent {
    height: 40px;
    cursor: pointer;
    width: 20%;
    min-width: 280px;
    background-color: #83D353;
    z-index: 1;
    position: relative
}
.reload {
    width: 50px;
    cursor: pointer;
    height: 40px;
}
.markerPhoto {
    max-width: 175px;
    max-height: 150px;
    display: block;
    margin: 0 auto;
}
.markerWindow {
    margin: 0 auto;
}
/*Responsive*/

@media screen and (max-width: 768px) {
    .wrapper {
        height: 100%;
        max-height: 250px;
    }
    .navTittle {
        display: none;
    }
    .reload {
        width: 10%;
    }
    #filter,
    .dropImageParent,
    .wrapper {
        min-width: 0;
        width: 45%
    }
}
